
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --text-color:rgba(228, 193, 176, 0.897);
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background-color: var(--text-color);
}


